<div>
<ul class="clearing-thumbs small-block-grid-4" data-clearing>
<% @members.each do |m| %>
	<li class="th"><a href="/assets/<%=m%>.png"><img data-caption="caption here..." src='/assets/<%=m%>.png'></a></li>
<%end %>
</ul>
</div>
