<h1 class='h1'>About Kothi Kommachi</h1>
<p class='para'>
Kothi Kommachi, (In)Kothi Kommachi, and now, Mukkothi Kommachi are the three volumes of an autobiography by Dr. Mullapudi Venkataramana (June 1931- February 2011), writer, film-maker, and a legend in Telugu literature. As he frequently said, "From the time I came to Madras very early in my life, to the people Bapu and I came across in this journey, the experiences, learning...my life has been like the proverbial monkey on the tree - leaping from one instance to the next, non-stop." Hence the title Kothikommachi.

Along with many Telugu literature lovers and admirers of Mullapudi, we are grateful to Sri Swathi Balram who brought Kothikommachi to Telugus across the world through Swathi Weekly, Sri Varaprasad Reddy who published the serial as a book, and Sri MBS Prasad who coordinated and helped edit Mullapudi's works. Almost as if, a team of people had been pre-assigned to keep his memory alive - through him, and by him.

The audio version of the book venture is made possible through the participation of some very generous and talented people who have given their voices, time, and effort to make this happen. Together, we are delighted to present this for the coming generations who understand the language, but do not read it - yet.

Bapu, Anu, and Vara Mullapudi, and Karthik Sundaram.
</p>
<div class='divider'></div>
<div class="row">
  <div class="small-6 large-6 columns">
  	<h3 class='h1'>Characters</h3>
  	<div class='image'>
  		<img src='assets/sud.jpeg'></img>
  	</div>
  </div>
  <div class="small-6 large-6 columns">
  	<h3 class='h1'>Activities</h3>
  	<div class='image'>
  		<img src='assets/act.png'></img>
  	</div>
  </div>
  
</div>


<script type='text/javascript'>
	var scrolled = 30;
  function scr(){
    window.scrollBy(0,30);
  }
  function war(){
    setTimeout('scr()',500);
    scrolled += 30;
    if(scrolled<600){
      war()
    }
  }
	
</script>