<div class='navbar'>
  <ul>
    <li><a href='<%= root_url %>'>Home</a></li> |
    <li><a href='/characters/index'>Characters</a></li> |
    <li><a href="/gallery/index">Gallery</a></li> |
    <li><a href="/main_page/castcrew">Cast & Crew</a></li>
  </ul>
</div>